galaxy_config: "{{galaxy_config_file}}"
name: usegalaxy.no # Base url
key: "{{nels_galaxy_key}}"
port: 8008

tos_server: true
grace_period: 14 # in days
full_api: true
# Change these!
proxy_keys: "{{proxy_keys}}"


