[Unit]
Description = Runs the nels-galaxy-api for NeLS galaxy
After = network.target

#StartLimitBurst=5
#StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User={{nels_galaxy_api_user}}
ExecStart = {{nels_galaxy_api_root}}/venv/bin/python3 {{nels_galaxy_api_root}}/bin/nels-galaxy-api.py -c {{nels_galaxy_api_root}}/{{nels_galaxy_config}}  -l {{nels_galaxy_api_log_dir}}/nels-galaxy-api.log

[Install]
WantedBy = multi-user.target
