{
  "nga_local_port": "{{ nga_local_port }}",

  "nga_id": "{{ nga_master_id }}",
  "nga_api_token": "{{ nga_api_token }}",

  "tos_server": true,
  "tos_grace_period": 14,

  "galaxy_url": "{{ nga_master_galaxy_url }}",
  "galaxy_config_file": "{{ galaxy_config_file_location }}",

  "contact_email": "{{ nga_contact_email }}"
}
