[Unit]
Description=Galaxy-NGA Master Process
After=galaxy.service

[Service]
UMask=022
Type=simple
User=root
Group=root
WorkingDirectory={{ nga_root }}
TimeoutStartSec=10
ExecStart={{ nga_root }}/venv/bin/python3 {{ nga_root }}/nga_master_api.py -ll 4 -c {{ nga_configdir }}/{{ nels_galaxy_config }} -l {{ nels_galaxy_api_log_dir }}/nga_master_api.log
Restart=always

[Install]
WantedBy=multi-user.target
