{
  "galaxy_config": "{{galaxy_config_file_location}}",
  "id": "{{nga_master_id}}",
  "key": "{{nga_master_key}}",
  "port": "{{nels_galaxy_api_port}}",
  "galaxy_url": "{{nga_master_galaxy_url}}",
  "master_url": "{{nga_master_url}}",
  "proxy_key": "{{nga_master_proxy_key}}",

  "tos_server": true,
  "grace_period": 14,
  "master": true,

  "instances": {{nga_instance}},

  "nels_storage_client_key": "{{nels_storage_client_key}}",
  "nels_storage_client_secret": "{{nels_storage_client_secret}}",
  "nels_url": "{{nels_url}}",
  "nels_storage_url": "{{nels_storage_url}}",

  "mq_uri": "{{nga_rabbitmq}}",

  "sleep_time": 30,
  "tmp_dir": "{{nga_tmp_dir}}"
}


