[Unit]
Description=Galaxy-NGA runner Process %i
After=galaxy.service nga-master.service

[Service]
UMask=022
Type=simple
User=root
Group=root
WorkingDirectory={{ nga_root }}
TimeoutStartSec=10
ExecStart={{ nga_root }}/venv/bin/python3 {{ nga_root }}/nga_runner.py -c {{ nga_configdir }}/{{ nels_galaxy_config }} -l {{ nels_galaxy_api_log_dir }}/nga_runner.log
Restart=on-failure

[Install]
WantedBy=multi-user.target