[Unit]
Description = Runs the tos-api for NeLS galaxy
After = network.target

StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User={{tos_api_user}}
ExecStart = "{{tos_api_root}}/venv/bin/tos-api.py -g {{galaxy_config_file}} -p {{tos_api_port}} -l {{tos_api_log}}

[Install]
WantedBy = multi-user.target
